<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>

    <context id="MysqlContext" targetRuntime="MyBatis3Simple" defaultModelType="flat">
        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>

        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/miaosha?useSSL=false"
                        userId="root"
                        password="123456">
        </jdbcConnection>

        <!-- 对于生成的pojo所在包 -->
        <javaModelGenerator targetPackage="com.miaoshaproject.dataObject" targetProject="src/main/java"/>

        <!-- 对于生成的mapper所在目录 -->
        <sqlMapGenerator targetPackage="mapping" targetProject="src/main/resources"/>

        <!-- 配置mapper对应的java映射 -->
        <javaClientGenerator targetPackage="com.miaoshaproject.dao" targetProject="src/main/java"
                             type="XMLMAPPER"/>


<!--        <table tableName="user_info" domainObjectName="UserDO"></table>-->
<!--        <table tableName="user_password" domainObjectName="UserPasswordDO"></table>-->
<!--        <table tableName="item" domainObjectName="ItemDO"></table>-->
<!--        <table tableName="item_stock" domainObjectName="ItemStockDO"></table>-->

<!--        <table tableName="order_info" domainObjectName="OrderDO"></table>-->
<!--        <table tableName="sequence_info" domainObjectName="SequenceDO"></table>-->
        <table tableName="promo" domainObjectName="PromoDO"></table>
    </context>
</generatorConfiguration>